In [ ]:
pip install pyspark

In [3]:


import shutil
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql.functions import col, avg, max, min, countDistinct, sum, round

In [4]:
## Set up PySpark environment
from pyspark.sql import SparkSession

In [5]:
## Initialize the SparkSession
# appName is the name of the application
# getOrCreate() creates a new session or retrieves an existing one
spark = SparkSession.builder \
    .appName("ZipCode PySpark Learning") \
        .getOrCreate()

## Verify that SparkSession is created
spark

25/04/18 14:42:35 WARN Utils: Your hostname, Zipcoders-MacBook-Pro-6.local resolves to a loopback address: 127.0.0.1; using 192.168.3.107 instead (on interface en0)
25/04/18 14:42:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/18 14:42:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/04/18 14:42:35 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [ ]:

## Read the CSV file into a DataFrame
df = spark.read.csv("/Users/angel/Desktop/Python_Projects/ExploreZipCodeData_PySpark/data/zip_code_demographics.csv", header=True, inferSchema=True)

In [9]:
df.show()

+----+--------+---------+---------------+--------+-------------+----------+-------+-----------+------+------------------+-------------------+--------------------+----------------+------------------+---------------------+-------------------+-----------------+
| zip|     lat|      lng|           city|state_id|   state_name|population|density|county_name|po_box|      dist_highway|dist2_large_airport|dist2_medium_airport|   dist_to_shore|number_of_business|adjusted_gross_income|total_income_amount|number_of_returns|
+----+--------+---------+---------------+--------+-------------+----------+-------+-----------+------+------------------+-------------------+--------------------+----------------+------------------+---------------------+-------------------+-----------------+
|1001|42.06262|-72.62521|         Agawam|      MA|Massachusetts|     16088|  550.1|    Hampden|     0|  1.38703489958776|   106.145765467407|    12.9462123500772|93.0492507357679|               438|               598807|           604769.0|             9320|
|1002|42.37633|-72.46462|        Amherst|      MA|Massachusetts|     27323|  198.1|  Hampshire|     0|  14.4381771787811|   112.264368137872|    21.0800788136799|133.370143966814|               571|               989558|          1005796.0|             9880|
|1005|42.42117|-72.10655|          Barre|      MA|Massachusetts|      4947|   44.2|  Worcester|     0|  16.7883389378764|    90.664964214599|    25.5477180736873|97.6398810953817|                97|               164207|           166054.0|             2490|
|1007|42.28163|-72.40009|    Belchertown|      MA|Massachusetts|     15304|  107.7|  Hampshire|     0|   13.663839468365|   101.552921217705|     14.762395370048|114.406033754504|               217|               647074|           654739.0|             7970|
|1008|42.18234|-72.95819|      Blandford|      MA|Massachusetts|      1171|    7.4|    Hampden|     0|  2.59365546872497|    136.54879743219|    20.1779499690055|107.466779445914|                18|                47826|         48241.0001|              660|
|1010|42.12904|-72.20597|      Brimfield|      MA|Massachusetts|      3703|   40.6|    Hampden|     0|  4.73727136188264|   78.6454995903817|    28.0492624787917|94.9280235181023|                73|               155666|           157677.0|             1980|
|1011|42.30233|-72.96448|        Chester|      MA|Massachusetts|      1332|   15.7|    Hampden|     0|  8.05869305726245|   142.414627001912|    26.0419084149722|128.563170400209|                13|                38223|            38553.0|              630|
|1012|42.38495|-72.84675|   Chesterfield|      MA|Massachusetts|       503|   16.1|  Hampshire|     0|  18.3310957824545|   138.381683922713|    27.4666636064825|137.693284947624|                10|                24826|            25102.0|              410|
|1013|42.16059|-72.60788|       Chicopee|      MA|Massachusetts|     22709| 1549.1|    Hampden|     0|0.0622862708325111|   109.114246004907|    7.07589281728133|104.576258028243|               317|               516431|           520174.0|            11270|
|1020|42.17618|-72.56538|       Chicopee|      MA|Massachusetts|     30704|  951.4|    Hampden|     0| 0.925139778004274|   106.769094716986|    3.20553313229515|105.789420653597|               550|               828125|           834614.0|            15760|
|1022|42.19721|-72.54249|       Chicopee|      MA|Massachusetts|      2235|  179.2|    Hampden|     0|  3.91926246782393|   106.224583169209|   0.727276755734925|107.544849378402|                63|                56336|            56674.0|             1180|
|1026|   42.46|    -72.9|     Cummington|      MA|Massachusetts|      1071|   14.7|  Hampshire|     0|  24.3805910062325|   146.550669800719|    36.8660922281397|147.638866780228|                18|                32259|            32739.0|              520|
|1027|42.29506|-72.74303|    Easthampton|      MA|Massachusetts|     17708|  168.5|  Hampshire|     0|  9.87359871206748|   125.949999053977|    15.4289439784155| 124.36751323717|               372|               671249|           680457.0|            10070|
|1028|42.05967|-72.49899|East Longmeadow|      MA|Massachusetts|     16386|  489.6|    Hampden|     0|   7.4060174552429|   96.3191778717821|    15.2259292870845|90.9561490159946|               503|               835044|           845428.0|             8540|
|1030|42.06869|-72.67967|  Feeding Hills|      MA|Massachusetts|     12627|  405.3|    Hampden|     0|  1.41993513386707|   110.600332715728|    10.3421978954343|93.9142965327369|               201|               445380|           449958.0|             6170|
|1031|42.32782|-72.19191|   Gilbertville|      MA|Massachusetts|      1577|   90.4|  Worcester|     0|  17.2230627967282|   92.1854551818214|    26.8635082123469|105.585525845634|                20|                28513|            28677.0|              570|
|1032|42.45313|-72.81965|         Goshen|      MA|Massachusetts|       430|   17.2|  Hampshire|     0|  17.3478940942923|   140.660105470833|    33.9357857667475|144.073456496879|                19|                18694|         18873.0001|              270|
|1033|42.26082|-72.50361|         Granby|      MA|Massachusetts|      6110|   84.8|  Hampshire|     0|  9.03480531317326|   107.168422666907|    7.86129552476818|113.854927890354|               131|               264390|           268331.0|             3370|
|1034| 42.0826|-72.95611|      Granville|      MA|Massachusetts|      1991|   11.3|    Hampden|     0|  11.3989512111861|   132.748945811302|    21.5271085784437|  95.75593334735|                28|                80085|            81270.0|             1040|
|1035|   42.35|   -72.58|         Hadley|      MA|Massachusetts|      5293|   88.5|  Hampshire|     0|  4.05769513820471|   117.969161035837|    17.7406423148569|125.712746119424|               309|               227576|           231353.0|             2920|
+----+--------+---------+---------------+--------+-------------+----------+-------+-----------+------+------------------+-------------------+--------------------+----------------+------------------+---------------------+-------------------+-----------------+
only showing top 20 rows

In [10]:
#attributes of the dataframe
df.columns

['zip',
 'lat',
 'lng',
 'city',
 'state_id',
 'state_name',
 'population',
 'density',
 'county_name',
 'po_box',
 'dist_highway',
 'dist2_large_airport',
 'dist2_medium_airport',
 'dist_to_shore',
 'number_of_business',
 'adjusted_gross_income',
 'total_income_amount',
 'number_of_returns']

In [12]:
#size of dataframe
print((df.count(), len(df.columns)))

(33704, 18)

## Top 10 Cities Closest to the Shore Ranked By # of Business

In [21]:
#Creating a new DataFrame with the needed columns
sho_df = df[['state_id', 'city', 'number_of_business', 'dist_to_shore']]
sho_df.show()

+--------+---------------+------------------+----------------+
|state_id|           city|number_of_business|   dist_to_shore|
+--------+---------------+------------------+----------------+
|      MA|         Agawam|               438|93.0492507357679|
|      MA|        Amherst|               571|133.370143966814|
|      MA|          Barre|                97|97.6398810953817|
|      MA|    Belchertown|               217|114.406033754504|
|      MA|      Blandford|                18|107.466779445914|
|      MA|      Brimfield|                73|94.9280235181023|
|      MA|        Chester|                13|128.563170400209|
|      MA|   Chesterfield|                10|137.693284947624|
|      MA|       Chicopee|               317|104.576258028243|
|      MA|       Chicopee|               550|105.789420653597|
|      MA|       Chicopee|                63|107.544849378402|
|      MA|     Cummington|                18|147.638866780228|
|      MA|    Easthampton|               372| 124.36751323717|
|      MA|East Longmeadow|               503|90.9561490159946|
|      MA|  Feeding Hills|               201|93.9142965327369|
|      MA|   Gilbertville|                20|105.585525845634|
|      MA|         Goshen|                19|144.073456496879|
|      MA|         Granby|               131|113.854927890354|
|      MA|      Granville|                28|  95.75593334735|
|      MA|         Hadley|               309|125.712746119424|
+--------+---------------+------------------+----------------+
only showing top 20 rows

 Clearning up the data -- combining rows and rounding long decimals

In [ ]:
# from pyspark.sql.functions import concat, lit

# #Combining city and state_id
# combined_sho_df = sho_df.select(concat(col('city'), lit(', '), col('state_id')))
# combined_sho_df.show()

+--------------------------+
|concat(city, , , state_id)|
+--------------------------+
|                Agawam, MA|
|               Amherst, MA|
|                 Barre, MA|
|           Belchertown, MA|
|             Blandford, MA|
|             Brimfield, MA|
|               Chester, MA|
|          Chesterfield, MA|
|              Chicopee, MA|
|              Chicopee, MA|
|              Chicopee, MA|
|            Cummington, MA|
|           Easthampton, MA|
|       East Longmeadow, MA|
|         Feeding Hills, MA|
|          Gilbertville, MA|
|                Goshen, MA|
|                Granby, MA|
|             Granville, MA|
|                Hadley, MA|
+--------------------------+
only showing top 20 rows

In [ ]:
#Rounding dist_to_shore to 2 decimal places
sho_df = sho_df.withColumn('dist_to_shore', round('dist_to_shore', 2))
sho_df.show(10)

+--------+------------+------------------+-------------+
|state_id|        city|number_of_business|dist_to_shore|
+--------+------------+------------------+-------------+
|      MA|      Agawam|               438|        93.05|
|      MA|     Amherst|               571|       133.37|
|      MA|       Barre|                97|        97.64|
|      MA| Belchertown|               217|       114.41|
|      MA|   Blandford|                18|       107.47|
|      MA|   Brimfield|                73|        94.93|
|      MA|     Chester|                13|       128.56|
|      MA|Chesterfield|                10|       137.69|
|      MA|    Chicopee|               317|       104.58|
|      MA|    Chicopee|               550|       105.79|
+--------+------------+------------------+-------------+
only showing top 10 rows

In [28]:
#dropping duplicates and sort by distance to shore
unique_sho_df = sho_df.dropDuplicates()
print((unique_sho_df.count(), len(unique_sho_df.columns)))

(33671, 4)

In [38]:
sorted_sho_df = unique_sho_df.sort(col('dist_to_shore').asc())
top_10_cities = sorted_sho_df.limit(10)
top_10_cities.show()

+--------+----------+------------------+-------------+
|state_id|      city|number_of_business|dist_to_shore|
+--------+----------+------------------+-------------+
|      MI| Luna Pier|                12|         0.01|
|      FL|   Captiva|                89|         0.01|
|      WA|Bellingham|              1993|         0.02|
|      ME| Matinicus|                69|         0.02|
|      AK|Petersburg|               147|         0.02|
|      FL|  Key West|              1546|         0.07|
|      MD|     Issue|                 8|         0.09|
|      ME|    Sunset|                 7|          0.1|
|      NC|  Ocracoke|                18|          0.1|
|      NJ| Highlands|                86|         0.14|
+--------+----------+------------------+-------------+

In [ ]:
#plotting the dataframe

## airport shore nuber of business zipcode

## number of returns by county

## Distance highway/airport Pop by zipcode